{% extends "users/base.html" %}

{% block content %}
  <div class="container">
    <h1>Chat</h1>
    <div id="chat-box">
      {% for message in messages %}
        <div>
          <strong>{{ message.sender.username }}:</strong> {{ message.content }}
        </div>
      {% endfor %}
    </div>
    <form method="post" action="{% url 'send_message' %}">
      {% csrf_token %}
      <textarea name="content" placeholder="Type your message here"></textarea>
      <button type="submit">Send</button>
    </form>
  </div>
{% endblock %}
