<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscription Confirmation</title>
</head>
<body>
    <h1>Subscription Confirmation</h1>
    <p>Dear {{ user.username }},</p>
    <p>Thank you for subscribing to the "{{ subscription_plan.name }}" plan.</p>
    <p>Your subscription details:</p>
    <ul>
        <li>Start Date: {{ start_date }}</li>
        <li>End Date: {{ end_date }}</li>
    </ul>
    <p>For any questions or concerns, please contact our support team.</p>
    <p>Best regards,<br>Your Company Name</p>
</body>
</html>